<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta charset="utf-8">
    <title>중고거래 채팅</title>
</head>
<body>
<noscript>
    <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>


<div class="memberForm">
    <form id="memberForm" name="memberFrom" nameForm="memberForm">
    <p>
        <label for="member-Select">접속 Id</label>
        <select id="member-Select" name="memberId">
            <option value="">회원선택</option>
            <option th:each="member : ${members}"
                    th:value="${member.memberNo}"
                    th:text="${member.memberId}"></option>
        </select>
    </p>
    <button id="member-submit" type="submit" class="username-submit">입장</button>
    </form>
</div>

<div id="chat-page" class="hidden">
    <div class="chat-container">
        <div class="chat-header">
            <h2>채팅창</h2>
        </div>
        <ul id="messageArea">

        </ul>
        <form id="messageForm" name="messageForm" nameForm="messageForm">
            <div class="memberForm">
                <div class="input-group clearfix">
                    <input type="text" id="message" placeholder="메시지를 입력" autocomplete="off" class="form-control"/>
                    <button type="submit" class="primary">전송</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="js/chatMain.js" chatset = "utf-8"></script>
</body>
</html>